@model int

@{
    ViewBag.Title = "Edit Photo Actor";
}

<div id="main" class="container-fluid " style="width: 800px; padding-top : 100px; padding-left:40px; ">
    <div class="row" style="width:100%;">
        @*<div class="col-xs-3 col-md-3">
            <button id="btnsave" type="button" class="btn btn-warning" style="float: left; width: 120px;">
                <i class="glyphicon   glyphicon-save"></i><span style="padding: 10px;">Save</span>
            </button>
        </div>
        <div class="col-xs-3 col-md-3">
            <button id="btnphoto" type="button" class="btn btn-warning" style="float: left; width: 140px;">
                <i class="glyphicon   glyphicon-camera"></i><span style="padding: 10px;">photo</span>
            </button>
        </div>*@
        <div class="col-xs-3 col-md-3" data-original-title="">
            <button id="btnprevieous" type="button" class="btn btn-warning" style="float: left; width: 180px;">
                <i class="glyphicon   glyphicon-backward"></i><span style="padding: 10px;">previous page</span>
            </button>
        </div>

    </div>
</div>

<div id="PhotoActor" style=" padding-top:20px;">

</div>
<div id="modal-gallery" class="modal modal-gallery hide fade">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>
        <h3 class="modal-title"></h3>
    </div>
    <div class="modal-body"><div class="modal-image"></div></div>
    <div class="modal-footer">
        <a class="btn btn-primary modal-next">
            <span>Next</span>
            <i class="icon-arrow-right icon-white"></i>
        </a>
        <a class="btn btn-info modal-prev">
            <i class="icon-arrow-left icon-white"></i>
            <span>Previous</span>
        </a>
        <a class="btn btn-success modal-play modal-slideshow" data-slideshow="5000">
            <i class="icon-play icon-white"></i>
            <span>Slideshow</span>
        </a>
        <a class="btn modal-download" target="_blank">
            <i class="icon-download"></i>
            <span>Download</span>
        </a>
    </div>
</div>

<script type="text/javascript">

    function raiseAlert(type, title, message) {
        $("#alert-area").append($("<div class='alert alert-message fade in alert-" + type + "' data-alert> <a class='close' data-dismiss='alert'>×</a><strong>" + title + "</strong> " + message + "</div>"));
        $(".alert-message").delay(2000).slideDown("slow", function () { $(this).remove(); });
    }

    $(function () {
        function LoadModel() {
            $("#PhotoActor").load("/Photo/GetPhotoPartial/@Model");
            //$("#main").css("display", "normal");
            //$("#main").delay(1000).show();
        }

        LoadModel();


 

        $('#btnprevieous').click(function () {
            window.location.href = '@ViewBag.ReturnUrl';
        });



    });


</script>

